@font-face {
  font-family: 'Recoleta';
  src: url('@workspace/shared-assets/fonts/Recoleta-RegularDEMO.woff2')
    format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'display-serif';
  src: url('@workspace/shared-assets/fonts/DTNightingale-Light.woff2')
    format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
