@font-face {
  font-family: "DTNightingale";
  src: url("/fonts/DTNightingale-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Recoleta-Regular";
  src: url("/fonts/Recoleta-RegularDEMO.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
